
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }

.message { padding: 10px 20px; border-radius: 4px; margin-top: 20px; }
.message.bg-error { border: 1px solid #b44; background-color: #ecc; }

.form-group .message { margin:0px; }

.positive_score_variation { color: #4b4; font-style: italic; }
.negative_score_variation { color: #c55; font-style: italic; }

/* fix default Bootstrap fluid table behavior */
.table { width: auto !important; }
.table-fluid { width: 100% !important; }

.table td, .table th {
  white-space: nowrap;
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.clickable {
  cursor: pointer;
}

.grayed { color: #aaa; }

tr.grayed { background-color: #fafafa; }

#content {
  margin-top: 50px;
  padding-top: 20px;
}
