<?php


// Database info

define('DB_HOST', 'localhost');
define('DB_NAME', 'racket_ladder');
define('DB_LOGIN', 'login');
define('DB_PASSWORD', '********');

// The higher this value, the less the players scores are likely to change after each set (except for newcomers)
// A value of 20 gives a +/-3% score change after a set against same score player
define('MAX_SETS_FOR_AVERAGE', 20);

// Players are "officially" shown in rankings after playing the minimum number of sets below
// (otherwise ranking scores are generally too inaccurate). Players with too few sets are shown, but "grayed".
// Keep the value at 0 to disable this feature.
define('MIN_SETS_FOR_BEING_RANKED', 10);

// When score for a newcomer cannot be computed as an average of existing scores
define('DEFAULT_SCORE', 10);